<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  </head>
  <body>
  <div align ='right'><a href= "/signup" class="btn btn-info">Sign Up</a>
        <a href="/login" class="btn btn-success">Log In</a>
        <a href="/newthread" class="btn btn-info">Start a New Thread</a></div>
    <h2><%= title %></h2>
    <table class="table table-striped">
        <tr>
            <th width = '20%'>Upvotes</th>
            <th width = '60%'>Title</th>
            <th width = '20%'>Actions</th>
        </tr>
        <% for(var i = 0; i < threads.length; i++) { %>
        <tr>
            <td>
                <%= threads[i].upvotes%>
                <div class="button-container">
                    <form method="post" action = '/upvotethread/<%= threads[i].id %>' ><button><span class="glyphicon glyphicon-arrow-up"></span></button></form>
                <form method="post" action="/downvotethread/<%= threads[i].id %>"><button><span class="glyphicon glyphicon-arrow-down"></span></button></form></div>
            </td>
            <td>
                <a href="/threads/<%= threads[i].id %>"><%= threads[i].title %></a>
            </td>

            <td>
                <a href="/deletePost/<%= threads[i].id %>" class="btn btn-danger">X</a>
                <a href="/updatePost/<%= threads[i].id %>" class="btn btn-info">Update</a>

            </td>
        </tr>
        <% } %>
    </table>
  </body>
</html>
